<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/repos/Appium">
        <classes>
            <class name="tests.NavigationOnTheBottomMenuBarTests">
                <methods>
                    <include name="navigateToDragScreen"/>
                    <include name="navigateToSwipeScreen"/>
                    <include name="navigateToFormsScreen"/>
                    <include name="navigateToLoginScreen"/>
                    <include name="navigateWebviewScreen"/>
                    <include name="navigateToHomeScreen"/>
                </methods>
            </class>
            <class name="tests.SuccessfulLoginTests">
                <methods>
                    <include name="successfulSignUpTest"/>
                </methods>
            </class>
            <class name="tests.SuccessfulSignUpTests">
                <methods>
                    <include name="successfulSignUpTest"/>
                </methods>
            </class>
            <class name="tests.SwipeCardsTests">
                <methods>
                    <include name="SwipeCardsTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>